<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.kl.BlackList"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:name=".BlackApp"
        android:icon="@drawable/creep001" android:label="@string/app_name">
        <activity android:name=".BlackListActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ContactActivity">
        </activity>
        <activity android:name=".BlackSelectTab">
        </activity>
        <activity android:name=".ConversationActivity">
        </activity>
        <activity android:name=".CallLogActivity">
        </activity>
        <activity android:name=".ViewLogActivity">
        </activity>
        <provider android:name="com.kl.android.BlackListProvider.BlackListProvider"
            android:authorities="com.kl.android.blacklistprovider" />
        <receiver android:name=".SmsBroadcastReceiver">
            <intent-filter android:priority="128">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".PhoneStateBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" /> 
            </intent-filter>
        </receiver>
    </application>
    <uses-sdk android:minSdkVersion="7" />
    <uses-permission android:name="android.permission.READ_SMS"></uses-permission>  
    <uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>  
    <uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission> 
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
</manifest> 