
@import url("/nuclblog-css/nuclblog.css");
@import url("/static/white.css");
@import url("/static/rststyle.css");

html {
    font-family: helvetica,arial,clean,sans-serif;
    font-size: medium;
    padding: 40px;
    padding-top: 10px;
    margin: 0px;  
}

body {
    background: #BBBBBB;
}

div#nuclblog-banner {
    top: 0px;
    text-align: left;
    background: #123456;
    color: white;
    padding: 18px 18px 6px 18px;
    -moz-border-radius: 6px 6px 0px 0px;
    border-radius: 6px 6px 0px 0px;
}

div#nuclblog-bannertext h1 {
    padding: 0px;
    margin: 0px;
    font-family: Verdana;
    font-size: 26px;
    font-weight: bold;
    font-style: roman;
}

div#nuclblog-bannertext h2 {
    padding: 6px;
    margin: 0px;
    font-size: 14px;
}

div.nuclblog-box {
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 4px;
    background: #F8F8F8;
    border-top: 1px solid #BBB;
    border-left: 1px solid #BBB;
    border-bottom: 2px solid #999;
    border-right: 2px solid #888;
}

div#nuclblog-main {
    background: white;
    min-height: 1550px;
    padding: 6px;
    -moz-border-radius: 0px 0px 6px 6px;
    border-radius: 0px 0px 6px 6px;
}

div.nuclblog-entry {
    background: #F8F8F8;
    border-top: 1px solid #BBB;
    border-left: 1px solid #BBB;
    border-bottom: 2px solid #999;
    border-right: 2px solid #888;
    padding: 10px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

div.nuclblog-box-head h2 {
    padding: 0px;
    margin: 0px;
    font-size: 15px;
}

div.nuclblog-entry-title h1 {
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    font-style: italic;
}

div.nuclblog-entry-date h2 {
    padding: 0px;
    margin: 0px;
    padding-left: 6px;
    font-size: 12px;
}

div.nuclblog-entry-user h3 {
    padding: 0px;
    margin: 0px;
    margin-bottom: 8px;
    padding-left: 6px;
    font-size: 12px;
}

div.nuclblog-box-body ul {
    padding-left: 6px;
}

div.nuclblog-box-body li {
    padding-left: 6px;
    font-family: sans-serif;
    font-size: 10pt;
}

div.entry {
    padding: 4px;
}

div.nuclblog-footer {
    text-align: center;
    color: black;
}

div.nuclblog-content-nav {
    text-align: right;
    padding-right: 60px;
}

div.nuclblog-comment {
    background: #F8F8F8;
    border-top: 1px solid #BBB;
    border-left: 1px solid #BBB;
    border-bottom: 2px solid #999;
    border-right: 2px solid #888;
    padding: 10px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

div.nuclblog-comment span {
    padding: 5px;
    font-size: 11px;
    color: #777777;
}

div.nuclblog-recent-comments ul {
    padding-left: 1px;
}

div.nuclblog-recent-comments li {
    padding-left: 1px;
    font-family: sans-serif;
    font-size: 10pt;
}

div#nuclblog-nav-menu {
    height: 30px;
    background: #123456;
    padding: 0px 3px 5px 13px;
}

div#nuclblog-nav-menu ul {
    list-style-type:none;
    margin:0px;
    padding:0px;
}

div#nuclblog-nav-menu li {
    float:left; 
}

div#nuclblog-nav-menu li a {
    display:block;
    padding:3px 6px 3px 6px;
    text-decoration:none;
    border:1px solid #BBBBBB;
    margin:2px;
}

div#nuclblog-nav-menu li a:link, #nuclblog-nav-menu li a:visited {
    background-color:#123456;
    color:#ffffff;
}

div#nuclblog-nav-menu li a:hover {
    background-color:#2255BB;
    color:#ffff00;
}

div#nuclblog-menu-search {
    text-align: right;
    color: white;
    padding-right: 20px;
}

div#nuclblog-menu-search input {
    margin-left: 10px;
}

div#nuclblog-nav-box-notice p {
    padding: 3px 3px 3px 3px;
}

